pkgbase = usbkill
	pkgdesc = Simple Arch Linux USB-presence shutdown watchdog
	pkgver = 0.3.0
	pkgrel = 7
	url = https://github.com/sesjaphp/usbkill
	arch = x86_64
	license = MIT
	makedepends = go
	depends = systemd
	depends = util-linux

pkgname = usbkill
